<odoo>
    <menuitem id="lp_main_menu" name="Lion Parcel" sequence="10"/>
    <menuitem id="lp_billing_menu" name="STT Billing" parent="lp_main_menu" sequence="20"/>
    <menuitem id="lp_billing_menu_items" name="Billing Data" parent="lp_billing_menu" action="lp_stt_billing_action" sequence="30"/>
</odoo>
